
<div class="row mt-4">
<!-- Inicio del Carrouesel -->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 h-350" src="../assets/img/noticias/noticia_mppeu1.jpg" alt="First slide">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption w-100 text-center rgba-orange-light fixed-bottom">
        <a class="text-white" href="#">
          <h3 class="h3-responsive"><strong>Frente Universitario Antiimperialista defiende la legitimidad del Presidente Maduro</strong></h3>
          <p>Los ministros Roa e Istúriz destacaron la importancia de mantener la unidad y la movilización en las universidades para defender la Patria, la paz y la Constitución</p>
        </a>  
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 h-350" src="../assets/img/iutv02.jpg" alt="Second slide">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption w-100 text-center rgba-orange-light fixed-bottom">
          <h3 class="h3-responsive">Universidad Politécnica Territorial</h3>
          <p>de Valencia</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 h-350" src="../assets/img/iutv03.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption w-100 text-center rgba-orange-light fixed-bottom">
          <h3 class="h3-responsive">Universidad Politécnica Territorial</h3>
          <p>de Valencia</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<!-- /carrousell -->

<div class="row mt-4">
  <div class="col-md-4" align="left">
    <mdb-card class="mb-3" bgColor="bg-light" >
        <mdb-card-header><strong>Noticias recientes</strong></mdb-card-header>
        <mdb-card-body>
          <!--mdb-card-title>
            <h5>Light Panel title</h5>
          </mdb-card-title-->
          <mdb-card-text class="text-justify">
            [01.10.2018]. <b><a href="#">IUTVAL abre espacios para acoger estudiantes 
              de Universidad de Ciencias de la Salud fwfd werw erwer wer wer werwr
            wwrgwergw rgwergwerwrw erwgerwgerwgw</a></b>
            <br><div class="mb-1"></div>
            [01.10.2018]. <b><a href="#">IUTVAL abre espacios para acoger estudiantes 
              de Universidad de Ciencias de la Salud</a></b>
            <br><div class="mb-1"></div>
            [01.10.2018]. <b><a href="#">IUTVAL abre espacios para acoger estudiantes
            de Universidad de Ciencias de la Salud</a></b>
            <br><div class="mb-1"></div>
            [01.10.2018]. <b><a href="#">IUTVAL abre espacios para acoger estudiantes
            de Universidad de Ciencias de la Salud</a></b>
            <br><div class="mb-1"></div>
            [01.10.2018]. <b><a href="#">IUTVAL abre espacios para acoger estudiantes
            de Universidad de Ciencias de la Salud</a></b>
          </mdb-card-text>
          
        </mdb-card-body>
      </mdb-card>
  </div>

  <div class="col-md-4" align="center">
      <mdb-card class="text-white mb-3" bgColor="bg-warning" style="max-width: 15rem">
          <mdb-card-header>Revista Politécnica</mdb-card-header>
          <mdb-card-body>
            <mdb-card-title>
              <h5>Últimas ediciones</h5>
            </mdb-card-title>
            <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
              of the
              panel's content.</mdb-card-text>
          </mdb-card-body>
        </mdb-card>
  </div>

  <div class="col-md-4">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>


<div class="row">

<div class="col-md-4" align="center">
   <mdb-card class="mb-3" bgColor="bg-light">
       <mdb-card-header>Noticias</mdb-card-header>
       <mdb-card-body>
         <mdb-card-title>
           <h5>Light Panel title</h5>
         </mdb-card-title>
         <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
           panel's content.</mdb-card-text>
       </mdb-card-body>
     </mdb-card>

</div>

<div class="col-md-4" align="center">
   <mdb-card class="text-white mb-3" bgColor="bg-warning">
       <mdb-card-header>Revista</mdb-card-header>
       <mdb-card-body>
         <mdb-card-title>
           <h5>Warning Panel title</h5>
         </mdb-card-title>
         <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
           of the
           panel's content.</mdb-card-text>
       </mdb-card-body>
     </mdb-card>

</div>

<div class="col-md-4" align="center">
   <mdb-card class="text-white mb-3" bgColor="bg-info">
       <mdb-card-header>Eventos</mdb-card-header>
       <mdb-card-body>
         <mdb-card-title>
           <h5>Warning Panel title</h5>
         </mdb-card-title>
         <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
           of the
           panel's content.</mdb-card-text>
       </mdb-card-body>
     </mdb-card>

</div>

</div>


<div class="row">

  <div class="col-md-4" align="center">
    <mdb-card class="mb-3" bgColor="bg-light">
        <mdb-card-header>Noticias</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Light Panel title</h5>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  </div>

  <div class="col-md-4" align="center">
    <mdb-card class="text-white mb-3" bgColor="bg-warning">
        <mdb-card-header>Revista</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Warning Panel title</h5>
          </mdb-card-title>
          <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
            of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>

  </div>

  <div class="col-md-4" align="center">
    <mdb-card class="text-white mb-3" bgColor="bg-info">
        <mdb-card-header>Eventos</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Warning Panel title</h5>
          </mdb-card-title>
          <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
            of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>

  </div>

</div>