<router-outlet></router-outlet>
<div class="container">
<div class="row mt-4">
<!-- Inicio del Carrouesel -->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 h-350" src="../assets/img/noticias/noticia_mppeu1.jpg" alt="First slide">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption w-100 text-center rgba-orange-light fixed-bottom">
        <a class="text-white" href="#">
          <h3 class="h3-responsive"><strong>Frente Universitario Antiimperialista defiende la legitimidad del Presidente Maduro</strong></h3>
          <p>Los ministros Roa e Istúriz destacaron la importancia de mantener la unidad y la movilización en las universidades para defender la Patria, la paz y la Constitución</p>
        </a>  
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 h-350" src="../assets/img/iutv02.jpg" alt="Second slide">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption w-100 text-center rgba-orange-light fixed-bottom">
          <h3 class="h3-responsive">Universidad Politécnica Territorial</h3>
          <p>de Valencia</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 h-350" src="../assets/img/iutv03.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption w-100 text-center rgba-orange-light fixed-bottom">
          <h3 class="h3-responsive">Universidad Politécnica Territorial</h3>
          <p>de Valencia</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
</div>
<!-- /carrousell -->

<div class="row mt-4">
  <div class="col-md">
    
      <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>IUTVAL abre espacios para acoger estudiantes 
                    de Universidad de Ciencias de la Salud</mat-card-title>
                  <mat-card-subtitle>01-10-2018</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/noticias/universidad_cs1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <div class="text-justify text-sm">
                    120 estudiantes distribuidos en 4 secciones iniciaron su curso introductorio
                    de las carreras Medicina Integral, Enfermería Integral y Fisioterapia.
                  </div>
                  <button mat-button>Leer más..</button>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-6" align="left">
            <ul class="list-unstyled">
                <li class="media">
                  <img class="d-flex mr-3 w-25" src="../../../assets/img/noticias/angostura1.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Conversatorio a 200 años del discurso de Angostura</h5>
                    14-02-2019
                  </div>
                </li>
                <li class="media my-4">
                  <img class="d-flex mr-3 w-25" src="../../../assets/img/noticias/catedra_hcf1.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Inaguracion Catedra Libre "HCHF"</h5>
                    29-11-2018
                  </div>
                </li>
                <li class="media my-4">
                  <img class="d-flex mr-3 w-25" src="../../../assets/img/noticias/navidad01.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Navidad IUT Valencia 2018</h5>
                    26-11-2018
                  </div>
                </li>
                <li class="media my-4">
                    <img class="d-flex mr-3 w-25" src="../../../assets/img/noticias/pequiven1.png" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1 font-weight-bold">Presentacion de Proyectos en Pequiven</h5>
                      22-11-2018
                    </div>
                  </li>
                  <li class="media">
                      <img class="d-flex mr-3 w-25" src="../../../assets/img/noticias/creacion_universidad.jpg" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">Presidente Maduro anuncia creación de nueve universidades politécnicas en el país (+UPTValencia)</h5>
                        22-11-2018
                      </div>
                    </li>
              </ul>
        </div>
      </div>
  </div>

</div>


<div class="row mt-4">

<div class="col-md-4" align="center">
   <mdb-card class="mb-3" bgColor="bg-light">
       <mdb-card-header>Noticias</mdb-card-header>
       <mdb-card-body>
         <mdb-card-title>
           <h5>Light Panel title</h5>
         </mdb-card-title>
         <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
           panel's content.</mdb-card-text>
       </mdb-card-body>
     </mdb-card>

</div>

<div class="col-md-4" align="center">
   <mdb-card class="text-white mb-3" bgColor="bg-warning">
       <mdb-card-header>Revista</mdb-card-header>
       <mdb-card-body>
         <mdb-card-title>
           <h5>Warning Panel title</h5>
         </mdb-card-title>
         <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
           of the
           panel's content.</mdb-card-text>
       </mdb-card-body>
     </mdb-card>

</div>

<div class="col-md-4" align="center">
   <mdb-card class="text-white mb-3" bgColor="bg-info">
       <mdb-card-header>Eventos</mdb-card-header>
       <mdb-card-body>
         <mdb-card-title>
           <h5>Warning Panel title</h5>
         </mdb-card-title>
         <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
           of the
           panel's content.</mdb-card-text>
       </mdb-card-body>
     </mdb-card>

</div>

</div>


<div class="row">

  <div class="col-md-4" align="center">
    <mdb-card class="mb-3" bgColor="bg-light">
        <mdb-card-header>Noticias</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Light Panel title</h5>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  </div>

  <div class="col-md-4" align="center">
    <mdb-card class="text-white mb-3" bgColor="bg-warning">
        <mdb-card-header>Revista</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Warning Panel title</h5>
          </mdb-card-title>
          <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
            of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>

  </div>

  <div class="col-md-4" align="center">
    <mdb-card class="text-white mb-3" bgColor="bg-info">
        <mdb-card-header>Eventos</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Warning Panel title</h5>
          </mdb-card-title>
          <mdb-card-text class="text-white">Some quick example text to build on the panel title and make up the bulk
            of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>

  </div>

</div>