    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue darken-4">

      <!-- Navbar brand -->
      <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo_iutval2.png" height="30" alt="">
        </a>
      </mdb-navbar-brand>
      
      <!-- Collapsible content -->
      <links>
      
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Programa de Formación (PNF)<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Electricidad</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Informática</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Procesos Químicos</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Materiales Industriales</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Quimica</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Instrumentación y Control</a>
          
              </div>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Admisión<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Electricidad</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Informática</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Quimica</a>
              </div>
            </li>
          
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Servicios Estudiantiles<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Centro de Estudiantes</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Becas</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Salud</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Culturales</a>
          
              </div>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="#">Revistas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Investigación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Innovación</a>
      
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Docentes</a>
            </li>
            <li class="nav-item">
                <a type="button" mdbBtn floating="true" size="lg" class=" nav-link btn-fb waves-light" mdbWavesEffect><i class="fab fa-facebook-f"></i></a>
            </li>
      
            <li class="nav-item">
                <a type="button" mdbBtn floating="true" size="lg" class=" nav-link btn-tw waves-light" mdbWavesEffect><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a type="button" mdbBtn floating="true" size="lg" class="nav-link  btn-yt waves-light" mdbWavesEffect><i class="fab fa-youtube"></i></a>
            </li>
            
      
          </ul>
          <!-- Links -->
      
      
      </links>
       
      
      </mdb-navbar>
      <!--/.Navbar-->
