<mdb-card class="text-center mt-4 mb-4">
    <mdb-card-body>
      <mdb-card-title>
        <h5 class="color-block  orange accent-3 z-depth-2 py-4 text-center white-text" style="border-top-left-radius: 10px; border-top-right-radius: 10px ">Enlaces Institucionales</h5>
      
         <!--  <img class="img-fluid img-thumbnail" src="../assets/img/home_enlaces.jpg" alt="Enlaces"> -->
      </mdb-card-title>
      <mdb-card-text>
          <div class="view overlay">
            <img  width="100%" class="img-fluid img-thumbnail" src="../assets/img/mppeu.png" alt="MPPEUCT">
            <a>
              <div class="mask waves-effect rgba-white-slight"></div>
            </a>
            <p>Ministerio de el Poder Popular para la Educación Universitaria, Ciencia y Tecnología</p>
          </div>           
      </mdb-card-text>

      <mdb-card-title>
        <hr>
        <h5 class="color-block orange accent-4 z-depth-2 py-4 text-center white-text" style="border-top-left-radius: 10px; border-top-right-radius: 10px ">Becas</h5>
        
      </mdb-card-title>
      <mdb-card-text>
          <div class="text-center view overlay"  style="padding: 5px">
              <img width="100%" class="img-fluid img-thumbnail" src="../assets/img/beca sucre.png" alt="Beca Sucre">
              <a>
                <div class="mask waves-effect rgba-white-slight"></div>
              </a>
            </div>
            <div class="view overlay"  style="padding: 5px">
              <img  width="100%" class="img-fluid img-thumbnail" src="../assets/img/boton_becas.jpg" alt="Funda Ayacucho">
              <a>
                <div class="mask waves-effect rgba-white-slight"></div>
              </a>
            </div>
      </mdb-card-text> 
      
      <mdb-card-title>
        <hr>
          <h5 class="color-block orange darken-4 z-depth-2 py-4 text-center white-text" style="border-top-left-radius: 10px; border-top-right-radius: 10px ">Sistemas de Gestión</h5>
          
        </mdb-card-title>
        <mdb-card-text>
            <div class="view overlay" style="padding: 5px">
                <img width="100%" class="img-fluid img-thumbnail" src="../assets/img/sistema-gestion.png" alt="Sistema de Gestión Académica">
               <p>Sistema de Gestión Académica</p>
                <a>
                    <div class="mask waves-effect rgba-white-slight"></div>
                </a>
              </div>

              <div class="view overlay" style="padding: 5px">
                  <img width="100%" class="img-fluid img-thumbnail" src="../assets/img/recibos.jpg" alt="Recibos de Nómina">
                  <a>
                    <div class="mask waves-effect rgba-white-slight"></div>
                  </a>
                </div>
                <div class="view overlay text-center" style="padding: 5px">
                  <img width="100%" class="img-fluid img-thumbnail" src="../assets/img/sugau.PNG" alt="SUGAU">
                  <a>
                    <div class="mask waves-effect rgba-white-slight"></div>
                  </a>
                </div>  
        </mdb-card-text> 
    </mdb-card-body>
  </mdb-card>