<div class="container">
<!-- Footer -->
<footer class="page-footer font-small blue pt-4"  >

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="text-center view overlay">
          <img class="img-fluid img-thumbnail w-25" src="../../../assets/img/logo_iutval_transparente.png" alt="UPT Valencia">
          <a>
            <div class="mask waves-effect rgba-white-slight"></div>
          </a>
        </div><br>
        <!-- Content -->
        <h5 class="text-uppercase">Universidad Politécnica Territorial de Valencia</h5>
        <p>Avenida Cuatricentenaria vía Guataparo, Sector Educacional La Manguita</p>
        <p>Valencia- Edo. Carabobo</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Programas</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Informática</a>
            </li>
            <li>
              <a href="#!">Procesos Qúimicos</a>
            </li>
            <li>
              <a href="#!">Electricidad</a>
            </li>
            <li>
              <a href="#!">Materiales Industriales</a>
            </li>
            <li>
              <a href="#!">Instrumentación y Control</a>
            </li>
            <li>
              <a href="#!">Química</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Enlaces</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">MPPEUCT</a>
            </li>
            <li>
              <a href="#!">Gobierno en Línea</a>
            </li>
            <li>
              <a href="#!">OPSU</a>
            </li>
            <li>
              <a href="#!">Funda Ayacuho</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> Departamento de Sistemas UPT Valencia</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>