body {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1200px;
}

.mt-20 {
    margin-top: 20px;
}

.h-350 {
    height: 350px;
}


example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  